html {
    background: black url(background.jpg) center center no-repeat;
    background-size: cover;
    color: white;
}

body{
    display: block;
    place-items: center;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
@media (min-width: 500px;) {body {display: grid;}}
.Container {
    margin: 2vh;
    background: rgba(79, 109, 209, 0.8);
    padding: 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}

 
 .header {  }    
    .Avatar { display: block; float: left; width: 100px;height: auto;
    margin: 0 1em 0 0; border-radius: 50%;} 
    @media (min-width: 200 px) { .Avatar{float: left;}}
    .TitlulPaginii{ display: block; margin: 0; font-size: clamp(2rem, 6vw, 4rem);
    line-height: 1em, ;}

main{

    }
         .ListaLinkuri{display: block; margin: 0; padding: 0; } 
         @media (min-width: 180 px) { .ListaLinkuri{display: grid; grid-template-columns: 1fr 1 fr;}}
            .ListeItem { display: block; margin: 0; padding: 0; border-bottom: 1px solid blueviolet;
            border-top: 1px solid aliceblue;}
            .Listalink:hover {background: white; color: black;}
                .Listalink{ display: block; margin: 0;padding: 0.5em;color: peachpuff; text-decoration: none; }
                   .ListaTitlu , .ListaText{display: block; font-size: 1em; line-height: 1.5em; margin: 0; padding: 0%; }
                     .ListaText { white-space: nowrap; overflow: hidden;
                    text-overflow: ellipsis; display: block;}